@font-face {
    font-family: main;
    src: url(../fonts/main.ttf);
}

* {
    font-family: font;
}


@font-face {
    font-family: font;
    src: url(../fonts/HelveticaNeueCyr-Light.ttf);
}

[panel] {
    display: none;
}

[panel].active {
    display: flex;
}

canvas, img {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.content {
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 500px;
}

.inputs {
    position: fixed;
    right: 40px;
    bottom: 0;
    width: 300px;
    box-shadow: 0 0 20px -10px black;
    background: white;
    z-index: 20;
}

input {
    --margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: calc(100% - var(--margin) * 2);
    margin: var(--margin);
}

input[type="checkbox"] {
    width: 15px;
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}
.pagination {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
    z-index: 900;
}
.pagination:nth-child(2) {
    bottom: 90px;
}
.pagination .arrow.btn:hover {
    background: silver;
}
.pagination .arrow {
    padding: 10px;
    cursor: pointer;
    background: white;
}