@font-face {
    font-family: main;
    src: url(../fonts/main2.otf);
}

* {
    font-family: font;
}

@font-face {
    font-family: font;
    src: url(../fonts/HelveticaNeueCyr-Light.ttf);
}

body {
    background: #eaeef1;
}
.bg {
    background: white;
}
.btn {
    user-select: none;
    cursor: pointer;
}
.cont {
    position: relative;
}
.cont.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: white;
}
.cont canvas, .cont img {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.cont img {
    position: absolute;
    top: 0;
    left: 0;
}
.cont canvas {
    position: relative;
    z-index: 2;
}
[config] {
    cursor: pointer;
    user-select: all;
    overflow-wrap: anywhere;
}
.content {
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    box-sizing: border-box;
}
nav .btn {
    padding: 20px;
}
nav .btn:hover {
    background: silver;
}
textarea {
    resize: vertical;
    width: calc(100% - 6px);
    min-height: 500px;
    padding: 20px;
    box-sizing: border-box;
    outline: none;
    border-radius: 2px;
    border: 1px dashed rgba(68, 68, 68, 0.55);
    margin: 0px 3px 20px;
    background-color: #ffffff;
    font-size: 15px;
    line-height: 20px;
}


input, select {
    --margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: calc(100% - var(--margin) * 2);
    margin: var(--margin);
    outline: none;
}

input[type="checkbox"] {
    width: 15px;
} 

.flex {
    display: flex;
}
.t-a-center {
text-align: center;
}
.flex.column {
    flex-direction: column;
}
.flex>.flow {
    flex: 1;
}
.flex.between { 
    justify-content: space-between;
}

.pagination {
    position: fixed;
    opacity: 0.2;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.pagination:hover {
    opacity: 1;
}


.buttons {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
    z-index: 900;
}

.buttons .arrow.btn:hover {
    background: silver;
}

.buttons .arrow {
    padding: 10px;
    cursor: pointer;
    background: white;
}

.sidebar {
    width: 100px;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 900;
    height: 100%;
    background: white;
    box-shadow: 0 0 9px 0px black;
    transition: .2s;
}

.sidebar::after {
    content: '❯';
    color: white;
    text-align: center;
    background: #6edc7b;
    position: absolute;
    left: 100%;
    top: 300px;
    width: 30px;
    line-height: 50px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.sidebar:hover {
    right: calc(100% - 100px);
}

.sidebar img {
    width: 100%;
    margin: 0;
    cursor: pointer;
}